.players {
    display: flex;
    // border: 1px solid red;
    justify-content: center;
    margin: 0 60px;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 5%;
        width: 15px;
        height: 15px;
        border-bottom: $tricks;
        border-left: $tricks;
        transform: rotate(45deg);
        cursor: pointer;
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 5%;
        width: 15px;
        height: 15px;
        border-bottom: $tricks;
        border-left: $tricks;
        transform: rotate(-135deg);
        cursor: pointer;
    }    
}





.players__line {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        border-left: $borderPlayers;
        height: 100%;
    }
}



