$colorBase: #ffcc00;
$colorSecondary: #898f8f;
$textAlign: center;
$linkSize: 30px;
$fontSizeBase: 14px;
$fontBase: 'Raleway', sans-serif;
$fontTitle: 'Roboto', sans-serif;
$fontSecondary: 'Open Sans', sans-serif;
$widthItemBox: 37%;
$marginContent: 85px;
$colorInfoPlayer: #666666;
$colorSocialLink: #cccccc;
$sizeSocialLink: 30px;
$borderPlayers: 1px solid $colorBase;
$tricks: 3px solid $colorBase;
